@font-face {
	font-family: "MuseoSansCyrl-500";
  src: url("MuseoSansCyrl-500.eot"); /* IE9*/
  src: url("MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("MuseoSansCyrl-500.woff2") format("woff2"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-500.woff") format("woff"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-500.ttf") format("truetype"); /* chromeгЂЃfirefoxгЂЃoperaгЂЃSafari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "MuseoSansCyrl-300";
  src: url("MuseoSansCyrl-300.eot"); /* IE9*/
  src: url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("MuseoSansCyrl-300.woff2") format("woff2"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-300.woff") format("woff"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-300.ttf") format("truetype"); /* chromeгЂЃfirefoxгЂЃoperaгЂЃSafari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "MuseoSansCyrl-700";
  src: url("MuseoSansCyrl-700.eot"); /* IE9*/
  src: url("MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("MuseoSansCyrl-700.woff2") format("woff2"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-700.woff") format("woff"), /* chromeгЂЃfirefox */
  url("MuseoSansCyrl-700.ttf") format("truetype"); /* chromeгЂЃfirefoxгЂЃoperaгЂЃSafari, Android, iOS 4.2+*/
}