/************CHOSEN FILIAL*****************/
.chosen-filial-title.page-title {
	padding: unset;
	background-image: unset;
	position: relative;
}
.chosen-filial-title-bg-block {
	background-image: url('../images/chosen-page-title-bg.png');
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

    padding: 100px 0 200px;
}

.chosen-filial-title.page-title:after {
	display: none;
}


.chosen-filial-title.page-title:before {
	position: absolute;
	background-image: url('../images/chosen-page-title-after-bg.png');
	background-size: cover;
	background-position: center;
	left: -15px;
	bottom: -25px;
	height: 100%;
	width: 100%;
}


.chosen-filial-about .littler {
	font-family: MuseoSansCyrl-700;
	font-size: 36px;
}

.chosen-filial-about .littler:before {
	top:-10px;;
}

.chosen-filial-about .about-text {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 15px;
}

.chosen-filial-about .about-text img {
	margin-right: 25px;
}

.chosen-filial-about .about-text .text {
	font-family: MuseoSansCyrl-300;
    font-size: 17px;
    padding: 5px 0;
}

.chosen-filial-about .about-text .text p{
	margin-bottom: 0;
}


.chosen-logic .littler {
	font-family: MuseoSansCyrl-700;
	font-size: 36px;
}

.chosen-filial-about .littler:before {
	top: -10px;
}



.uslugi {
	background-image: url('../images/chosen-uslugi-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 20px 0;
}

.uslugi-text-block .text {
	padding: 25px 0 0 0;	
	color: #FFF;
}

.uslugi-text-block .text .littler {
	font-family: MuseoSansCyrl-700;
	position: relative;
	font-size: 30px;
	color: #35b3fe;
	margin-bottom: 20px;
}

.uslugi-text-block .text .littler:before {
	top: -10px;
	position: absolute;
	background-image: url('../images/chosen-title-hat.png');
}



.uslugi-text-block .text ul{
	padding:0 0px 0 30px;
}


.uslugi-text-block .text ul li{
	line-height: 22px;
	font-family: MuseoSansCyrl-300;
	font-size: 18px;
	margin-bottom: 10px;
	list-style-image: url('../images/chosen-li-icon.png');
}


/*************************/

